<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">修改</h4>
      </div>
      <div class="modal-body">
        <input ng-model="editData.name">        
        <input ng-model="editData.co">
      </div>
      <div class="modal-footer">
        
        <button ng-click="editSave()" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
<table class="table table-condensed">
  <tr  ng-repeat="x in data">
      <td>{{x.id}}</td>
      <td>{{x.name}}</td>
      <td>{{x.co}}</td>
      <td><span ng-click="del(x)">x</span></td>
      <td><button ng-click="edit(x)" class="btn btn-success" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-edit"></span>edit</button></td>
  </tr>
</table>
<input ng-model="updata.name" type="text" />
<input ng-model="updata.co" type="text" />

<button ng-click="add()">+</button>

<!--

<datatable url='/test1510' abc="data2"></datatable>

<datatable url='/sat-auto' abc="789"></datatable> -->
<autoplay suid="1" url="/auto2"></autoplay>
<autoplay suid="2" url="/auto"></autoplay>